:$PORT
root * /usr/share/caddy
file_server browse
tls $CERT_PATH $KEY_PATH

#log {
#    output stdout
#}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

route /$AUUID-vmess {
	reverse_proxy 127.0.0.1:7001
}

route /$AUUID-vless {
	reverse_proxy 127.0.0.1:7002
}

route /$AUUID-trojan {
	reverse_proxy 127.0.0.1:7003
}

route /$AUUID-ss {
	reverse_proxy 127.0.0.1:4234
}

route /$AUUID-socks {
	reverse_proxy 127.0.0.1:5234
}
